@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-poppins;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-roboto;
    }
  }

  .transition {
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .hover\:bg-transparent:hover {
    background-color: transparent;
  }

  .hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }

  .group:hover .group-hover\:visible {
    visibility: visible;
  }
  .group:hover .group-hover\:bg-opacity-60 {
    --tw-bg-opacity: 0.6;
  }
  
  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }